<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Autoket - online automobile market.</title>
  {{ style('welcome') }}
</head>
<body>
  <div class="menu">
    <a href="/blog">Cars</a>
    <a href="/projects">Motorbikes</a>
    <a href="/privacy">Bikes</a>
    <a href="/terms">Terms</a>
  </div>
  <div class="about">
    <div class="inner-about">
      <h1>Nice to see you!</h1><br>
      <p>We are an online automobile market, where you get to buy the best of automobiles.</p>
      <p class="social">
        <a href="https://github.com">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://medium.com">
          <i class="fab fa-medium-m"></i>
        </a>
      </p>
      <footer><a href="https://www.freepik.com/free-photos-vectors/car">Car vector created by stories - www.freepik.com</a></footer>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/801cf12c1f.js" crossorigin="anonymous"></script>
</body>
</html>
